*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.wrapper {
    min-height: 100vh;
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

body{
    margin: 0;
    padding: 1rem;
    font-family:  Helvetica;
    font-size: 32px;
    color: #1d1f11;
    background: linear-gradient(45deg, rgb(92, 182, 226), rgb(41, 127, 163), rgb(29, 95, 157), rgb(14, 87, 182));
   
}
div {
    text-align: center;
    width: 300px;
    height: 150px;
    padding: 25px;
    margin: 20px;
    font-family: Helvetica;
  } 
  img {
    width: 400px;
    height: 400px;
    padding: 20px;
    max-width:100%;
    max-height:100%;
  } 
  .scale-down {
    object-fit: scale-down;
  }
  div1 {
    background-image: url(images/rektguy1.gif);
  } 
  div2 {
    background-image: url(images/rektguy2.gif);
  } 
  a {
    transition: --offset 300ms, text-decoration-color 300ms;
  }

  a:link, a:visited {
    background: linear-gradient(45deg, rgb(113, 179, 203), rgb(108, 170, 195), rgb(109, 142, 206), rgb(121, 215, 209));
    color: white;
    padding: 20px 30px;
    text-align: center;
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    transition: text-decoration-color 300ms;
    display: inline-block;
  }


  p{
    background: linear-gradient(45deg, rgb(113, 179, 203), rgb(108, 170, 195), rgb(109, 142, 206), rgb(121, 215, 209));
    font-family:Helvetica;
    font-size:24px;
    color:#ffffff;
    text-align:center;
    align-content: center;
    align-self: auto;
    border-style: solid;
    border-color: #d1d1d1;
    height: 120px;
    width: 575px;
    margin: 20px;
    padding: 25px;
    display: inline-block;
    border-width: 7px;
    box-sizing: border-box;
  }

  .hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #c1c1c1;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 10px;
    bottom: 0;
    left: 0;
    background-color: #e2e2e2;
    transform-origin: center;
    transition: transform 0.5s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin:center;
  }

  .hover1-underline-animation {
    display: inline-block;
    position: relative;
    color: rgb(213, 100, 90);
  }
  
  .hover1-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 10px;
    bottom: 0;
    left: 0;
    background-color: rgb(213, 100, 90);
    transform-origin: center;
    transition: transform 0.5s ease-out;
  }
  
  .hover1-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: center;
  }

@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

.content {
  position: relatve;
}

.content h2 {
  color: #fff;
  font-size: 48px;
  position: absolute;
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #faabaa;
}

.content h2:nth-child(2) {
  color: #ff0400;
  animation: animate 2s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}