*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    padding-left: 100px;
    padding-right: 100px;
    border-bottom: 3px;
    font-family: Verdana;
    font-size: 32px;
    color: pink;
    border-color: black;
    background-color: plum;
}
div {
    width: 300px;
    border: 15px orange;
    padding: 50px;
    margin: 20px;
  }